<% if (theme.google_analytics){ %>
<!-- CNZZ Analytics -->
<div style="display:none">
<script src="http://s95.cnzz.com/z_stat.php?id=1254118293&web_id=1254118293" language="JavaScript"></script>
<!-- End CNZZ Analytics -->
</div>
<% } %>
